*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 5px;
}

a{
    text-decoration: none;
}
.header-first{
    background-color: #f6f7f8;
}
.first-all{
    padding: 20px;
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: center;
    margin-left: 480px;
}
.icons i{
    margin-left: 20px;
}
.icons .search a{
    margin-left: 5px;
    color: black;
}
.first-nav a{
    margin-left: 20px;
    color: gray;

}
.az{
    cursor: pointer;
}
.list{
    width: 160px;
    height: 110px;
    display: none;
    position: absolute;
    right: 90px;
    top: 60px;
    box-shadow: 0 0 17px 0 #a19ba1;
}
.list .dil {
    display: flex;
    align-items: center;
    padding: 15px
}
.list img {
    height: 24px;
    width: 24px;
}
.list::before{
    content: "";
    position: absolute;
    right: 20%;
    top: -13%;
    width: 15px;
    height: 14px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);;

   

}
.search-input{
    display: none;
}
.first-nav a:last-child{
    display: none;
}
.first-nav a:nth-child(7){
    border: 2px solid #356bc2;
    color: #005ac3;
    padding: 5px;
    border-radius: 50px;
}
.logo img{
    width: 120px;
    height: 80px;
    margin-left: 20px;
}
.header-all{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    position: relative;
}

nav a{
    margin-left: 40px ;
    color: gray;
}
nav a:first-child{
    color: black;
}
.text span{
    position: absolute;
    right: 30px;
    color: #005ac3;
    font-weight: bold;
    font-size: 15px;
}

.navbars a{
    margin-left: 40px;
    color: black;
}

@media (max-width:576px){
    .container{
        padding: 0 1px;
    }
    .first-nav a{
        display: none;
    }
    .first-nav a:last-child{
        display: block;
    }
    nav, .icon, .text, .navbars{
        display: none;
    }
}
.search{
    cursor: pointer;
}
.search-input input{
    width: 100%;
    height: 400px;
    font-size: 40px;
    border: none;
    outline: none;
    padding: 0 20px;
}
.search-input .close{
    margin-right: 40px;
    margin-top: 20px;
}

.search-active{
    display: flex;
   
}
.color-change{
    color: #005ac3;
}
.list-active{
    display: block;
}
.icon-rotate{
    rotate: 180deg;
}